@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
/* @source "../apps/construction/src";
@source "../libs/ui/src";
@source "../libs/ui/src/lib/";
@source "../libs/auth/src"; */
@source "../apps/**";
@source "../libs/**";

@theme {
  /* NOTE: Provided hex "#03E21" is not a valid 3/6/8-digit hex. Using "#030E21" as a sensible default. Update if needed. */
  --color-light-black: #008000;
  --color-text-black: #000000;
  --color-primary: #e31837;
}